<h1>Add a new Landmark:</h1>

<form action="/landmarks" method="POST">
  <label for="landmark_name">Name</label><br>
  <input id="landmark_name" type="text" name="landmark[name]" /><br>
  <label for="landmark_year_completed">Year Completed</label><br>
  <input id="landmark_year_completed" type="text" name="landmark[year_completed]" /><br>

  <input type="submit" value="Create New Landmark">
</form>
